:root {
  --bg-color: #fff;   /* Light beige background */
  --sidebar-bg: #1638e286; /* White sidebar */
  --text-color: #2c3e50; /* Dark blue-gray text */
  --accent-color: #5c9ead; /* Soft blue */
  --border-color: #dcdcdc;
  --hover-color: #21562841;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  justify-content: center;
}

.sidebar {
  width: 50px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.sidebar li:hover {
  background-color: var(--hover-color);
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}

.content {
  margin-left: 150px;
  padding: 20px;
  gap: 10px;
}
